<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community</title>
    <link rel="stylesheet" href="/css/thread.css" />
    <link rel="stylesheet" type="text/css" href="/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- Favicon -->
    <link
      rel="icon"
      href="/images/logo-cookchat.png"
      type="image/x-icon"
    />
  
  </head>
  <body>
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <a href="">
              <img src="/images/logo-cookchat.png" alt="logo" />
            </a>
          </span>

          <div class="text header-text">
            <a href="#">
              <span class="name">COOKCHAT</span>
            </a>
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search..." />
          </li>

          <ul class="menu-links">
            <li class="nav-link">
              <a href="#">
                <i class="bx bx-home-alt icon"></i>
                <span class="text nav-text">Home</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="bx bx-bowl-hot icon"></i>
                <span class="text nav-text">Recipes</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-bookmark icon"></i>
                <span class="text nav-text">Save</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bxs-plus-square icon"></i>
                <span class="text nav-text">Create Post</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#" class="dropdown-toggle">
                <i class="bx bx-group icon"></i>
                <span class="text nav-text">Communities</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="/profile" class="dropdown-toggle">
                <i class="icon"
                  ><img src="/images/profile.png" width="30px"
                /></i>
                <span class="text nav-text">Kanna Kamui</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="bottom-content">
          <li class="">
            <a href="#">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Log out</span>
            </a>
          </li>

          <li class="mode">
            <div class="moon-sun">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>

            <span class="mode-text text">Dark Mode</span>

            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>

    <!-- nav bottom -->

    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">COOKCHAT</a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active-link">
                <i class="bx bx-home-alt nav__icon"></i>
                <span class="nav__name">Home</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#search" class="nav__link">
                <i class="bx bx-search nav__icon"></i>
                <span class="nav__name">Search</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#create" class="nav__link">
                <i class="bx bx-plus-circle nav__icon"></i>
                <span class="nav__name">Create</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#recipes" class="nav__link">
                <i class="bx bx-bowl-hot nav__icon"></i>
                <span class="nav__name">Recipes</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#profile" class="nav__link">
                <img src="/images/profile.png" width="25px" class="nav__icon" />
                <span class="nav__name">Profile</span>
              </a>
            </li>
          </ul>
        </div>

        <!-- <img src="/images/user-img.jpg" class="nav__img" width="40px"> -->
      </nav>
    </header>

    <div class="hero">
      <nav>
        <ul class="notification-drop">
          <li class="item">
            <i class="bx bxs-bell notification-bell" aria-hidden="true"></i>
            <span class="btn__badge pulse-button">4</span>

            <ul>
              <li>First Item</li>
              <li>Second Item</li>
              <li>Third Item</li>
            </ul>
          </li>
        </ul>

        <img
          src="/images/user-img.jpg"
          width="40px"
          alt="profile"
          class="user-pic"
          onclick="toggleMenus()"
        />

        <div class="sub-menus-wrap" id="subMenus">
          <div class="sub-menus">
            <div class="user-info">
              <a href="" class="sub-menus-link">
                <img
                  src="/images/profile.png"
                  alt="profile"
                  class="profile-pic"
                />
                <h3>Kanna Kamui</h3>
              </a>
            </div>
            <hr />

            <a href="#" class="sub-menus-link">
              <i class="bx bx-cog"></i>
              <p>Settings</p>
            </a>

            <a href="#" class="sub-menus-link">
              <i class="bx bxs-dashboard"></i>
              <p>Admin</p>
            </a>

            <a href="#" class="sub-menus-link" id="darkModeToggle">
              <i class="bx bx-moon"></i>
              <p>Switch Theme</p>
            </a>

            <a href="#" class="sub-menus-link">
              <i class="bx bx-help-circle"></i>
              <p>Help & Support</p>
            </a>

            <a href="#" class="sub-menus-link">
              <i class="bx bx-log-out"></i>
              <p>Log Out</p>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <section class="home">
      <div class="text"></div>

      <div class="profile__profile">
        <div class="container7">
          
          <div class="profile__profile__details">
            

            <div class="profile__profile__details__displayName">
              
            </div>
          </div>
        </div>
      </div>

      <div class="profile__section">
        <div class="container">

          <div class="profile__profile__logo">
              <div class="search-filter">
                <div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
              </div>

                        <div class="date-filter">
                          <label for="from-date">From:</label>
                          <input type="date" id="from-date" />
                          <label for="to-date">To:</label>
                          <input type="date" id="to-date" />
                          <button class="filter-button">Filter</button>
                        </div>   
                  </div>

         
          </div>


          <div class="profile__section__tab">
            <button
              class="tablinks"
              onclick="openSection(event, 'Posts')"
              id="defaultOpen"
            >
              <svg
                aria-label=""
                class="_ab6-"
                color="#262626"
                fill="#262626"
                height="12"
                role="img"
                viewBox="0 0 24 24"
                width="12"
              >
                <rect
                  fill="none"
                  height="18"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  width="18"
                  x="3"
                  y="3"
                ></rect>
                <line
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  x1="9.015"
                  x2="9.015"
                  y1="3"
                  y2="21"
                ></line>
                <line
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  x1="14.985"
                  x2="14.985"
                  y1="3"
                  y2="21"
                ></line>
                <line
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  x1="21"
                  x2="3"
                  y1="9.015"
                  y2="9.015"
                ></line>
                <line
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  x1="21"
                  x2="3"
                  y1="14.985"
                  y2="14.985"
                ></line>
              </svg>
              Posts
            </button>

          
          </div>

          <div id="Posts" class="profile__section__tab__tabcontent">
            <section class="post-info">
              <div class="box-design">
                <div class="post-upload-T">
                  <div class="profil-ing-div">
                    <a href="#" id="profile-link">
                      <img id="Profile_images" src="/images/user-img.jpg" />
                    </a>
                  </div>
                  <div class="text-post">
                    <span>What's on your mind?</span>
                  </div>
                </div>
              </div>

              <div class="box-design post-filter">
                <div class="filter-site">
                  <span>Posts</span>
                  <div class="fil-ter">
                    <button><i class="fas fa-sliders-h"></i> Filters</button>

                  </div>
                </div>

                <div class="list-type">

                  <button class="slidelinks" onclick="openSlide(event, 'list')" id="defaultSlide">
                    <div class="fil-list">
                    <i class="fas fa-bars"></i> List View
                  </div>
                  </button>
                  
                  <button class="slidelinks" onclick="openSlide(event, 'grid')">
                    <div class="fil-list">
                    <i class="fas fa-th-large"></i> Grid View
                    </div>
                  </button>
                  
                </div>
              </div>

            <div id="list" class="profile__section__slide">

              <div class="box-design post-div">
                <div class="post-information">
                  <div>
                    <div class="profil-ing-div post-profile-img">
                      <a href="#" id="profile-link">
                        <img id="Profile_images" src="/images/user-img.jpg" />
                      </a>
                    </div>
                  </div>

                  <div class="post-three-dot">
                    <h2><a href="#" id="profile_name">Kanna Kamui</a></h2>
                    <p>
                      <a href="%">5min</a>
                    </p>

                    <span class="thre-dto-btn fas fa-ellipsis-h"></span>
                  </div>
                </div>

                <div class="post-text-show">
                  <p>Cooking tips</p>
                  <p>cooking is my passion</p>
                </div>

                <img
                  id="post-image-12"
                  class="post-images"
                  src="/images/cook.png"
                />

                <div class="actavite">
                  <div class="lcs-btn lcs-btn_i">
                    <p>
                      <i id="post-icon-btn_i" class="far fa-thumbs-up"></i>
                      <span id="post-icon-text_i">Like</span>
                    </p>
                  </div>
                  <div class="lcs-btn">
                    <p><i class="far fa-comment-alt"></i> Comment</p>
                  </div>
                  <div class="lcs-btn">
                    <p><i class="fas fa-share"></i> Share</p>
                  </div>
                </div>

                <div class="comment-site">
                  <div class="profil-ing-div">
                    <a href="#" id="profile-link">
                      <img id="Profile_images" src="/images/user-img.jpg" />
                    </a>
                  </div>
                  <a href="/html/comment.html">
                    <div class="comment-input">
                        Write a comment…
                    </div>
                  </a>
                </div>
              </div>

              <!-- no image -->
              <div class="box-design post-div">
                <div class="post-information">
                  <div>
                    <div class="profil-ing-div post-profile-img">
                      <a href="#" id="profile-link">
                        <img id="Profile_images" src="/images/user-img.jpg" />
                      </a>
                    </div>
                  </div>

                  <div class="post-three-dot">
                    <h2><a href="#" id="profile_name">Kanna Kamui</a></h2>
                    <p>
                      <a href="%">5min</a>
                    </p>

                    <span class="thre-dto-btn fas fa-ellipsis-h"></span>
                  </div>
                </div>

                <div class="post-text-show">
                  <p>Cooking tips</p>
                  <p>cooking is my passion</p>
                </div>

                <div class="actavite">
                  <div class="lcs-btn lcs-btn_0i">
                    <p>
                      <i id="post-icon-btn_0i" class="far fa-thumbs-up"></i>
                      <span id="post-icon-text_0i">Like</span>
                    </p>
                  </div>
                  <div class="lcs-btn">
                    <p><i class="far fa-comment-alt"></i> Comment</p>
                  </div>
                  <div class="lcs-btn">
                    <p><i class="fas fa-share"></i> Share</p>
                  </div>
                </div>

                <div class="comment-site">
                  <div class="profil-ing-div">
                    <a href="#" id="profile-link">
                      <img id="Profile_images" src="/images/user-img.jpg" />
                    </a>
                  </div>
                   <a href="/html/comment.html">
                    <div class="comment-input">
                        Write a comment…
                    </div>
                  </a>
                </div>
              </div>

              <!-- 2image -->
              <div class="box-design post-div">
                <div class="post-information">
                  <div>
                    <div class="profil-ing-div post-profile-img">
                      <a href="#" id="profile-link">
                        <img id="Profile_images" src="/images/user-img.jpg" />
                      </a>
                    </div>
                  </div>
                  <div class="post-three-dot">
                    <h2><a href="#" id="profile_name">Kanna Kamui</a></h2>
                    <p>
                      <a href="%">5d</a>
                    </p>

                    <span class="thre-dto-btn fas fa-ellipsis-h"></span>
                  </div>
                </div>

                <div class="post-text-show">
                  <p>Cooking tips</p>
                  <p>cooking is my passion</p>
                </div>

                <!-- <p class="post-hader-text" id="post_h_2I">Hello World.</p> -->

                <div class="post-background-img">
                  <div>
                    <img id="post-image-1" src="/images/cook.png" />
                  </div>
                  <div>
                    <img id="post-image-2" src="/images/cook.png" />
                  </div>
                </div>

                <div class="actavite">
                  <div class="lcs-btn lcs-btn_2i">
                    <p>
                      <i id="post-icon-btn_2i" class="far fa-thumbs-up"></i>
                      <span id="post-icon-text_2i">Like</span>
                    </p>
                  </div>
                  <div class="lcs-btn">
                    <p><i class="far fa-comment-alt"></i> Comment</p>
                  </div>
                  <div class="lcs-btn">
                    <p><i class="fas fa-share"></i> Share</p>
                  </div>
                </div>

                <div class="comment-site">
                  <div class="profil-ing-div">
                    <a href="#" id="profile-link">
                      <img id="Profile_images" src="/images/user-img.jpg" />
                    </a>
                  </div>
                  <a href="/html/comment.html">
                    <div class="comment-input">
                        Write a comment…
                    </div>
                  </a>
                </div>
              </div>

              <!-- 3img -->

              <div class="box-design post-div">
                <div class="post-information">
                  <div>
                    <div class="profil-ing-div post-profile-img">
                      <a href="#" id="profile-link">
                        <img id="Profile_images" src="/images/user-img.jpg" />
                      </a>
                    </div>
                  </div>
                  <div class="post-three-dot">
                    <h2><a href="#" id="profile_name">Kanna Kamui</a></h2>
                    <p>
                      <a href="%">5d</a>
                    </p>

                    <span class="thre-dto-btn fas fa-ellipsis-h"></span>
                  </div>
                </div>

                <div class="post-text-show">
                  <p>Cooking tips</p>
                  <p>cooking is my passion</p>
                </div>

                <!-- <p class="post-hader-text" id="post_h_3I">Hello World.</p> -->
                <div class="post-background-img">
                  <div>
                    <img id="post-image-3" src="/images/cook.png" />
                  </div>

                  <div>
                    <div class="one-or-two">
                      <img id="post-image-4" src="/images/cook.png" />
                    </div>
                    <div class="one-or-two">
                      <img id="post-image-5" src="/images/cook.png" />
                    </div>
                  </div>
                </div>

                <div class="actavite">
                  <div class="lcs-btn lcs-btn_3i">
                    <p>
                      <i id="post-icon-btn_3i" class="far fa-thumbs-up"></i>
                      <span id="post-icon-text_3i">Like</span>
                    </p>
                  </div>
                  <div class="lcs-btn">
                    <p><i class="far fa-comment-alt"></i> Comment</p>
                  </div>
                  <div class="lcs-btn">
                    <p><i class="fas fa-share"></i> Share</p>
                  </div>
                </div>

                <div class="comment-site">
                  <div class="profil-ing-div">
                    <a href="#" id="profile-link">
                      <img id="Profile_images" src="/images/user-img.jpg" />
                    </a>
                  </div>
                   <a href="/html/comment.html">
                    <div class="comment-input">
                        Write a comment…
                    </div>
                  </a>
                </div>
              </div>

              <!-- 4img -->

              <div class="box-design post-div">
                <div class="post-information">
                  <div>
                    <div class="profil-ing-div post-profile-img">
                      <a href="#" id="profile-link">
                        <img id="Profile_images" src="/images/user-img.jpg" />
                      </a>
                    </div>
                  </div>
                  <div class="post-three-dot">
                    <h2><a href="#" id="profile_name">Kanna Kamui</a></h2>
                    <p>
                      <a href="%">5d</a>
                    </p>

                    <span class="thre-dto-btn fas fa-ellipsis-h"></span>
                  </div>
                </div>

                <div class="post-text-show">
                  <p>Cooking tips</p>
                  <p>cooking is my passion</p>
                </div>
                <!-- <p class="post-hader-text" id="post_h_4I">Hello World.</p> -->
                <div class="post-background-img">
                  <div>
                    <div class="one-or-two">
                      <img id="post-image-6" src="/images/kanna.jpg" />
                    </div>
                    <div class="one-or-two">
                      <img id="post-image-7" src="/images/kanna.jpg" />
                    </div>
                  </div>

                  <div>
                    <div class="one-or-two">
                      <img id="post-image-8" src="/images/kanna.jpg" />
                    </div>
                    <div class="one-or-two">
                      <img id="post-image-9" src="/images/kanna.jpg" />
                    </div>
                  </div>
                </div>

                <div class="actavite">
                  <div class="lcs-btn lcs-btn_4i">
                    <p>
                      <i id="post-icon-btn_4i" class="far fa-thumbs-up"></i>
                      <span id="post-icon-text_4i">Like</span>
                    </p>
                  </div>
                  <div class="lcs-btn">
                    <p><i class="far fa-comment-alt"></i> Comment</p>
                  </div>
                  <div class="lcs-btn">
                    <p><i class="fas fa-share"></i> Share</p>
                  </div>
                </div>

                <div class="comment-site">
                  <div class="profil-ing-div">
                    <a href="#" id="profile-link">
                      <img id="Profile_images" src="/images/user-img.jpg" />
                    </a>
                  </div>
                   <a href="/html/comment.html">
                    <div class="comment-input">
                        Write a comment…
                    </div>
                  </a>
                </div>
              </div>

            </div>

              <div id="grid" class="profile__section__slide">
                
                
                <div class="managePosts">
                  <div class="datePosts">
                    <p>November 2023</p>
                    <button>Select All</button>
                  </div>
              <div class="allPost">
                    <div class="aPost">
                    <div class="managePost">
                    <input type="checkbox">

                    <img src="/images/heroCook.png" width="100px" alt="Post Image" />

                   </div>

                   <div class="info-post">
                      <div class="info-img">
                        <img src="/images/profile.png" alt="Profile Image" width="30px">
                      </div>
                      <div class="info-text">
                        <h4>Kanna Kamui</h4>
                        <p>10 November 2023</p>
                      </div>
                    </div>

                  </div>

                 
                  </div>
                 
                </div>

                <div class="managePosts">
                  <div class="datePosts">
                    <p>November 2023</p>
                    <button>Select All</button>
                  </div>

                  <div class="allPost">
                    <div class="aPost">
                    <div class="managePost">
                    <input type="checkbox">

                    <img src="/images/heroCook.png" width="100px" alt="Post Image" />

                   </div>

                   <div class="info-post">
                      <div class="info-img">
                        <img src="/images/profile.png" alt="Profile Image" width="30px">
                      </div>
                      <div class="info-text">
                        <h4>Kanna Kamui</h4>
                        <p>10 November 2023</p>
                      </div>
                    </div>

                  </div>

                  <div class="aPost">
                    <div class="managePost">
                    <input type="checkbox">

                    <img src="/images/heroCook.png" width="100px" alt="Post Image" />

                   </div>

                   <div class="info-post">
                      <div class="info-img">
                        <img src="/images/profile.png" alt="Profile Image" width="30px">
                      </div>
                      <div class="info-text">
                        <h4>Kanna Kamui</h4>
                        <p>10 November 2023</p>
                      </div>
                    </div>
                    
                  </div>

                  <div class="aPost">
                    <div class="managePost">
                    <input type="checkbox">

                    <img src="/images/heroCook.png" width="100px" alt="Post Image" />

                   </div>

                   <div class="info-post">
                      <div class="info-img">
                        <img src="/images/profile.png" alt="Profile Image" width="30px">
                      </div>
                      <div class="info-text">
                        <h4>Kanna Kamui</h4>
                        <p>10 November 2023</p>
                      </div>
                    </div>
                    
                  </div>
                  </div>

                  

                  
                </div>

              </div>
              
            </section>

            <div class="load-more">
              <button>Load More</button>
            </div>

          </div>

          
        </div>
      </div>
    </section>

    <script src="/javascript/profile.js"></script>
  </body>
</html>
