@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
   
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #ddd;
    --text-color: #ddd;

}



:root {
  --primaryColor: #fafafa;
  --secondaryColor: #efefef;
  --borderColor: #dbdbdb;
  --tabTextColor: #8e8e8e;
}

.container7{
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 30px;
  padding-top: 3rem;
  padding-bottom: 3rem;

 
}


.profile__profile {
  position: relative;
  top: 5rem;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.profile__profile__logo {
  flex: 1;
  text-align: center;
}

.profile__profile__logo img {
  width: 100px;
  border-radius: 100%;
  border: 2px solid rgb(161, 159, 159);
}

.profile__profile__details {
  flex: 2;
  
}

.profile__profile__details__userName {
  display: flex;
  align-items: center;
  gap: 40px;
  
}

.profile__profile__details__userName h4 {
  font-weight: normal;
  font-size: 30px;
}

.profile__profile__details__userName button {
  background-color: transparent;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
}

.profile__profile__details__userName button:last-child {
  border: none;
}



.profile__section__tab {
  overflow: hidden;
  border-top: 1px solid var(--borderColor);
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0;
  margin-top: 6rem;
}

.profile__section__tab button {
  background-color: transparent;
  border: none;
  padding: 20px 0px 0px 0px;
  margin: 0 20px;
  transition: 0.3s;
  font-size: 14px;
  color: var(--tabTextColor);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.profile__section__tab button svg {
  margin-right: 5px;
}

.profile__section__tab__tabcontent {
  display: none;
}

.profile__section__tab__tabcontent__container {
  max-width: 1300px;
}

.profile__section__tab__tabcontent__container__image {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.profile__section__tab__tabcontent__container__image img {
  width: 30%;
  object-fit: contain;
  flex: 1;
}

.profile__section__tab__tabcontent__container__image img:nth-child(2) {
  margin: 7px 14px;
}

.profile__section__tab .active {
  border-top: 2px solid #000000;
  color: #5c5c5c;
}




