@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --primaryColor: #fafafa;
  --secondaryColor: #efefef;
  --borderColor: #dbdbdb;
  --tabTextColor: #8e8e8e;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* colors */
  --body-color: #e4e9f7;
  --sidebar-color: #ffff;
  --primary-color: #ff779e;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-05);
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #ddd;
  --text-color: #ddd;
}

/* sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar .nav-link:hover .icon {
  transform: scale(1.3);
}

.sidebar.close {
  width: 88px;
}

/* resuable css */
.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transform: var(--tran-03);
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar.close .dropdown {
  opacity: 0;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}
.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}

.sidebar header {
  position: relative;
}

.sidebar .image-text img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
  font-family: "Cherry Bomb One", system-ui;
  color: #fe036a;
  letter-spacing: 2px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar.close header .toggle {
  transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar .menu {
  margin-top: 35px;
}

.sidebar .search-box {
  background: var(--primary-color-light);
  border-radius: 6px;
  transition: var(--tran-05);
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  background: var(--primary-color-light);
  transition: var(--tran-05);
}

.sidebar li a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar .mode {
  position: relative;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}
.menu-bar .mode i {
  position: absolute;
  transition: var(--tran-03);
}

.menu-bar .mode i.sun {
  opacity: 0;
}

body.dark .menu-bar .mode i.sun {
  opacity: 1;
}

body.dark .menu-bar .mode i.moon {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 6px;
  background: var(--primary-color-light);
  transition: var(--tran-05);
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-03);
  cursor: pointer;
}

body.dark .switch::before {
  left: 24px;
}

.home {
  position: relative;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background: var(--body-color);
  transition: var(--tran-05);
}

.home .text{ 
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  position: absolute;
  padding: 8px 8px;
  left: 6%;
  top: 7%;
}

.sidebar.close ~ .home {
  left: 88px;
  width: calc(100% - 88px);
  height: fit-content;
}

.sidebar .nav-links li .icon-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .nav-links li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .header {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .header {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --header-height: 3rem;

    --hue: 174;
    --sat: 63%;

    --first-color: #ef3167;
    --first-color-alt: hsl(var(--hue), var(--sat), 36%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #fff;

    /* --body-font: "Poppins", sans-serif; */

    --h1-font-size: 1.5rem;
    --nomal-font-size: 0.938rem;
    --tiny-font-size: 0.625rem;

    --z-tooltip: 10;
    --z-fixed: 100;
  }

  .sidebar.close ~ .home {
    left: 0;
    width: 100%;
  }

  html {
    scroll-behavior: smooth;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .sidebar {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--container-color);
    z-index: 100;
    transition: var(--tran-04);
  }

  body.dark .header {
    background-color: var(--primary-color-light);
  }

  /* nav */

  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  

  .nav__img {
    width: 32px;
    border-radius: 50%;
  }

  .nav__logo {
    color: #fe036a;
    font-weight: 600;
    font-family: "Cherry Bomb One", system-ui;
    letter-spacing: 2px;
    padding-left: 2%;
  }

  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsl(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: var(--tran-04);
  }

  body.dark .nav__menu {
    background-color: var(--primary-color-light);
  
  }

  .nav__list,
  .nav__link {
    display: flex;
  }

  .nav__link {
    flex-direction: column;
    align-items: center;
    row-gap: 0.25rem;
    font-weight: 600;
    color: var(--title-color);
  }

  .nav__list {
    justify-content: space-around;
  }

  .nav__name {
    font-size: var(--tiny-font-size);
  }

  body.dark .nav__link {
    color: var(--text-color);
  }

  body.dark .active-link {
    color: var(--first-color);
  }

  .nav__icon {
    font-size: 1.5rem;
  }

  .active-link {
    position: relative;
    color: var(--first-color);
    transition: var(--tran-03);
  }

  .scroll-header {
    box-shadow: 0 1px 12px hsl(var(--hue), var(--sat), 15%, 0.15);
  }

  .hero {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
  }

  .hero nav {
    justify-content: space-between;
  }

  .hero .user-pic {
    width: 30px;
    margin-right: 15px;
    /* margin-top: 2px; */
  }

  .hero .notification-bell {
    font-size: 25px;
    margin-top: 0rem;
  }

  .sub-menus-wrap {
    top: auto;
    right: 0;
    width: 100px;
  }

  .sub-menus {
    margin: 0px;
  }

  .user-info h3 {
    font-size: 10px;
  }

  .hero .user-info img {
    width: 10px;
    margin-right: 5px;
  }

  .sub-menus-wrap .sub-menus-link .profile-pic {
    width: 30px;

  }

  .sub-menus-link i {
    width: 20px;
    padding: 4px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 932px) and (orientation: landscape) {
  .sidebar {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar header .toggle {
    position: absolute;
    top: 2.2rem;
    right: -10px;
    transform: translateY(-50%) rotate(180deg);
  }
}

/* topbar */
.hero {
  width: 50%;
  position: fixed;
  top: 0;
  right: 0; /* Changed from left: 0 */
  z-index: 9999;
}

.hero nav {
  padding: 10px 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.user-pic {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
}

.sub-menus-wrap {
  position: absolute;
  top: 100%;
  right: 5%;
  width: 250px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menus-wrap.open-menus {
  max-height: 400px;
}

.sub-menus {
  background: #fff;
  padding: 10px;
  margin: 10px;
}

body.dark .sub-menus {
  background: var(--primary-color);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h3 {
  font-size: 16px;
  font-weight: 500;
}

body.dark .user-info h3 {
  color: #fff;
}

.user-info img {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.sub-menus hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menus-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

body.dark .sub-menus-link {
  color: #fff !important;
}

.sub-menus-link p {
  width: 100%;
}

body.dark .sub-menus-link i {
  color: var(--primary-color-light);
}

.sub-menus-link i {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menus-link:hover p {
  font-weight: 600;
}
/* darkmode */
#darkModeToggle {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

#darkModeToggle p {
  width: 100%;
}

#darkModeToggle i {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

#darkModeToggle:hover p {
  font-weight: 600;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notification-drop {
  color: #444;
}
.notification-drop .item {
  padding: 10px;
  font-size: 18px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
.notification-drop .item:hover {
  cursor: pointer;
}
.notification-drop .item i {
  margin-left: 10px;
}

body.dark .notification-drop .item {
  color: #fafafa;
}

body.dark .notification-drop .item ul {
  color: var(--container-color);
  background: var(--primary-color);
}

.notification-drop .item ul {
  display: none;
  position: absolute;
  top: 100%;
  background: #fff;
  left: -200px;
  right: 0;
  z-index: 1;
  border-top: 1px solid #ddd;
}
.notification-drop .item ul li {
  font-size: 16px;
  padding: 15px 0 15px 25px;
}
.notification-drop .item ul li:hover {
  background: #ddd;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 500px) {
  .notification-drop {
    display: flex;
    justify-content: flex-end;
  }
  .notification-drop .item {
    border: none;
  }
}

.notification-bell {
  font-size: 30px;
  margin-top: 0.5rem;
}

.btn__badge {
  background: #ff5d5d;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 0.5px;
  right: 0.5px;
  padding: 3px 10px;
  border-radius: 50%;
}

.notification-text {
  font-size: 14px;
  font-weight: bold;
}

.notification-text span {
  float: right;
}


.container7{
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.profile__profile {

  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 20%;
  margin-right: 20%;
  
}

.profile__profile__logo {
  /* flex: 1; */
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}

.profile__profile__logo img {
  width: 100px;
  object-fit: contain;
  border-radius: 100%;
  border: 3px solid black;
}

.profile__profile__details {
  flex: 2;
}

.profile__profile__details__userName {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile__profile__details__userName h4 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 1rem;
}

body.dark .profile__profile__details__userName {
  color: #fff;
}


.profile__profile__details__displayName h6{
  padding-bottom: 5px;
  font-size: 15px;

}

body.dark .profile__profile__details__displayName {
  color: #fff;
}

.profile__profile__details__userName button {
  background-color: #ef3167;
  border-radius: 10px;
  padding: 5px;
  color: #ffff;
  cursor: pointer;

}

.profile__profile__details__userName button:hover {
  background-color: #ff5680;
}



.profile__profile__details__userName button:last-child {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body.dark .profile__profile__details__userName button svg {
  color: #fff;
}


.profile__section__tab {
  overflow: hidden;
  border-top: 1px solid var(--borderColor);
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0;
  cursor: pointer;
}

body.dark .profile__section__tab button {
  color: #fff;
  cursor: pointer;
}

.profile__section__tab button {
  background-color: transparent;
  border: none;
  padding: 20px 0px 0px 0px;
  margin: 0 20px;
  transition: 0.3s;
  font-size: 14px;
  color: var(--tabTextColor);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.profile__section__tab button svg {
  margin-right: 5px;
}

body.dark .profile__section__tab button svg {
  color: #fff;
}

body.dark .profile__section__tab button.active {
  color: #feb6d4;
  border-top: 2px solid #f7609f;
}

body.dark .profile__section__tab button.active  svg{
  color: #feb6d4;
}

.profile__section__tab__tabcontent {
  display: none;
}

.profile__section__tab__tabcontent__container {
  max-width: 1300px;
}

.profile__section__tab__tabcontent__container__image {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 2rem;
  margin-right: 2rem;
}

.profile__section__tab__tabcontent__container__image img {
  width: 30%;
  object-fit: contain;
  flex: 1;
}

.profile__section__tab__tabcontent__container__image img:nth-child(2) {
  margin: 7px 14px;
}

.profile__section__tab .active {
  border-top: 2px solid #5c5c5c;
  color: #5c5c5c;
}




.box-design {
    border-radius: 18px;
    box-shadow: 0px 1px 2px #3335;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

body.dark .box-design {
    background-color: #3335;
    color: #fff;
}

.post-upload-T {
	display: grid;
	grid-template-columns: 1fr 7fr;
	padding-bottom: 10px;
}

.profil-ing-div {
	width: 36px;
	height: 36px;
	border-radius: 50%;
}


.profil-ing-div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	cursor: pointer;
}

.text-post {
  margin-left: 5px;
	position: relative;
	width: 100%;
	padding: 7px 10px;
	box-sizing: border-box;
	border-radius: 25px;
	background-color: #E4E6EB;
	cursor: pointer;
}


.text-post:hover {
	background-color: #D8DADF;
}
.text-post span {
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 15px;
	color: #333;
}



.filter-site {
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #3333;
}


.filter-site span {
	position: absolute;
	top: 10px;
	left: 0px;
	font-size: 16px;
	font-weight: bold;
}


.fil-ter {
	text-align: right;
}
.fil-ter button {
	padding: 8px 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	background-color: #E4E6E9;
	cursor: pointer;
}
.fil-ter button:hover {
	background-color: #D8DADF;
}
.fil-ter button i {
	margin-right: 5px;
}

.post-filter {
	padding-bottom: 0px;
}

.list-type {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 5px;
}
.fil-list {
	text-align: center;
}
.fil-list {
	font-size: 15px;
	color: #333;
	padding: 10px 0px;
	cursor: pointer;
}

body.dark .fil-list,
body.dark .fil-list i{
  color: #fff;
}

.fil-list i {
	margin-right: 5px;
	color: #3339;
}


.post-information {
	display: grid;
	grid-template-columns: 1fr 7fr;
	padding: 10px;
}
.post-information div h2 {
	font-size: 14px;
	margin-left: 5px;
	margin-top: 7px;
}
.post-information div h2 a {
	text-decoration: none;
	color: #333;
}

body.dark .post-information div h2 a {
  color: #fff;
}

.post-information div h2 a:hover {
	text-decoration: underline;
}
.post-information div p {
	font-size: 11px;
	color: #3339;
	margin-top: 3px;
	margin-left: 5px;
}

body.dark .post-information div p {
  color: #fff;
}


.post-information div p a {
	text-decoration: none;
	color: #3339;
}

body.dark .post-information div p a {
  color: #fff;
}

.post-information div p a:hover {
	text-decoration: underline;
}
.post-information div p span {
	margin-left: 5px;
}
.post-information div p span i {
	cursor: pointer;
}
.post-information div p span i:hover {
	color: #333;
}


.post-three-dot {
	position: relative;
}



.post-three-dot .thre-dto-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    padding: 5px 5px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}
.post-three-dot .thre-dto-btn:hover {
	background-color: #E4E6E9;
}

.post-div {
	padding: 0px;
}

.post-div img {
	width: 100%;
	cursor: pointer;
	object-fit: cover;
}

/* .post-info {
    padding-bottom: 5rem;

} */

.post-info-input {
	padding: 10px;
}


.post-hader-text {
	font-size: 14px;
	color: #333;
	padding: 0px 10px 10px 10px;
	display: none;
}

.actavite {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 5px;
	padding: 5px 0px;
	margin: 0px 10px;
	border-top: 1px solid #3333;
	cursor: pointer;
}


.lcs-btn:hover {
	background-color: #E4E6E9;
}

body.dark .lcs-btn:hover {
  background-color: rgba(96, 95, 95, 0.333);
}


.lcs-btn {
	border-radius: 5px;
}
.lcs-btn p {
	padding: 10px 0px;
	font-size: 12px;
	text-align: center;
	color: #676767;

}

.lcs-btn p i {
	margin-left: 5px;
}

body.dark .lcs-btn p,
body.dark .lcs-btn p i {
  color: #b8b7b7;
}


.comment-site {
	position: relative;
}
.comment-site {
	display: grid;
	grid-template-columns: 1fr 7fr;
	border-top: 1px solid #3333;
	padding: 8px;
	margin: 0px 10px;
}

.comment-input {
  margin-left: 10px;
	width: 100%;
	border: none;
	outline: none;
  color:var(--first-color);
	box-sizing: border-box;
	background-color: #E4E6E9;
	border-radius: 20px;
	font-size: 15px;
	padding: 9px 10px;
	padding-right: 120px;
	text-indent: 5px;
  cursor: pointer;
}

.post-text-show{
	padding: 10px 15px;
	font-size: 16px;
	color: #333;
}

.post-text-show p:first-child {
  font-weight: 700;
  font-size: 20px;
}


body.dark .post-text-show {
  color: #fff;
}


.activ-li-div {
	background-color: #EAF3FF !important;
}
.activ-li-icon {
	color: #fe036a !important;
}
.like-controle {
	color: #ff79c5 !important;
}
.dis_block {
	display: block !important;
}

.list-type button {
  padding: 10px 0px;
  border: none;
  background-color: #fff;
  cursor: pointer;

}

body.dark .list-type button {
  background-color: inherit;
 
}

.slidelinks.activ-navbar {
	position: relative;
	background-color: #fff !important;
	color: #fe036a !important;
}

body.dark .slidelinks.activ-navbar {
  background-color: inherit !important;
  color: #fff !important;
}

.slidelinks.activ-navbar .fil-list{
	color: #fe036a !important;
}

.slidelinks.activ-navbar i {
	color: #fe036a !important;
}
.slidelinks.activ-navbar:after {
	position: absolute;
	content: '';
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 3px;
	background-color: #fcb4d2;
}



@media screen and (max-width: 575px) {
	
	.post-images {
		height: 200px;
		object-fit: cover;
	}

  .container7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.comment-input{
  font-size: xx-small;
}

*{
  font-size: 12px;
}

  
.profile__profile {
  margin: 50px;
  display: flex;
  flex-direction: column;
  
  
}

}


/* 2img */


.post-background-img {
	background-color: #fff;
	color: #fff;
	width: 100%;
	height: 350px;
	box-sizing: border-box;
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 5px;
}
.post-background-img div {
	box-sizing: border-box;
	overflow: hidden;
}
.post-background-img div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}
.post-background-img div .one-or-two {
	width: 100% !important;
	height: 50% !important;
	background-color: rgba(219, 219, 219, 0.333);
	box-sizing: border-box !important;
}
.one-or-two:first-child {
	border-bottom: 3px solid #fff;
}
.one-or-two img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

.ofverflow-images {
	position: relative;
}
.ofverflow-images img {
	filter: brightness(0.6);
}
.ove-img-div {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #3335;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	cursor: pointer;
}
.ove-img-div p {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 35px;
	color: #fff;
	font-weight: 400;
}


.load-more {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.load-more button {
  padding: 10px 20px;
  background-color: #fe036a;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.load-more button:hover {
  background-color: #ff5680;
}


/* grid view */

.managePosts{
    border-radius: 18px;
    box-shadow: 0px 1px 2px #3335;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body.dark .managePosts{
    background-color: #3335;
    color: #fff;
}


.datePosts{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.datePosts button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #fad0e8;
  cursor: pointer;
}

.datePosts button:hover{
  background-color: #ffb4c7;
}

.managePost{
  background-color: #f4f0f7;
  display: flex;
  justify-content: center;
  align-items: center;

}

body.dark .managePost{
  background-color: #3d3c3d
}



.managePost {
  position: relative;
}

.managePost input[type="checkbox"] {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* .managePost img{
  
} */

.info-post{
  background-color: #f7e2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  font-size: 12px;
}

body.dark .info-post{
  color: #18191a;
}

.aPost{
  width: fit-content;
  padding-bottom: 30px;


}

.allPost {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding-left: 30px;
  padding-right: 30px;

}


.search-filter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
   }

/* .search-filter input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
} */


.search {
  width: 100%;
  display: flex;
  justify-content: center;
 
}

.searchTerm {
  border: 3px solid #fb2879;
  border-right: none;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  width: 50px;
  border: 1px solid #fb2879;
  background: #fb2879;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
}

.search-filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 30%;
}

.search {
    display: flex;
}


.searchButton {
    width: 40px;
    border: 1px solid #fb2879;
    background: #fb2879;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.date-filter {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
   
}

.date-filter label {
    font-weight: bold;
}
body.dark .date-filter label {
  color: #fff;
}


/* 
.date-filter input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
} */

.date-filter .filter-button {
    padding: 5px 10px;
    background-color: #fe036a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.date-filter .filter-button:hover {
    background-color: #ff5680;
}